.card-body{
    background-size:cover;
    background-image: url('/assets/cake.jfif');
    background-blend-mode: soft-light;
    padding-top: 10%;
    padding-bottom: 30%;
}

.container{
    padding-left: 30%;
    padding-right: 30%;
}

label{
    color: gold;
    font-size:x-large;
    text-align: left;
}

input{
    color:silver;
}
