<div class="card">
  <div class="card-header" style="text-align:center;font-weight:bold;">
    <h1>Creamy Creations</h1>
  </div>
  <div class="card-body" style="text-align:center;">
    <div class="container">
      <h1 style="color:gold;">Order Cake of your choice</h1>
      <form (ngSubmit)="onSubmit()" #orderForm="ngForm">
        <div class="form-group">
          <label>Name 
            <input type="text" class="form-control" id="name" required [(ngModel)]="entity.name" #name="ngModel">
          </label>        
        </div>
        <div class="form-group">
          <label>Cake Type 
            <input type="text" class="form-control" id="cake-type" required [(ngModel)]="entity.cakeType" #cakeType="ngModel">
          </label> 
        </div>
      </form>
    </div>
  </div>
</div>